body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.counter_div{
background-color: rgba(80, 76, 76, 0.095);
  width: 25%;
  min-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 200px auto;

  padding: 50px;
    cursor: pointer;
    border-radius: 5px;
}

.counter_div h1{
font-size: 70px;
  width: 250px;

  margin: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

.btn{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;

}

.btn button{
  padding: 10px 25px;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn button:nth-child(1)
{
  background-image: linear-gradient(to right, #2a4531 0%,  #3CA55C  100%);
  cursor: pointer;
  color: white;
}

.btn button:nth-child(2)
{
    background-image: linear-gradient(to right, #323130 0%,  #8f8d8a  100%);

  cursor: pointer;
}

.btn button:nth-child(3)
{
  background-image: linear-gradient(to left, #f20505 0%,  #602f2f  100%);

  cursor: pointer;
  color: white;
}

.btn button:hover{
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
transform: scale(1.045);
transition: .4s ease-in-out;

}

