.admin {
    text-align: end;
    width: 96%;
    margin: 50px 0px 0px 0px;
}

.admin button {
    border: none;
    outline: none;
    background-color: #155aed;
    color: white;
    font-weight: 600;
    padding: 9px 15px;
    border-radius: 5px;
}
.admin button:hover {
    background-color: #061d47db;
    color: white;
    transition: 0.3s all ease-in;
    cursor: pointer;
}
.gird_div {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    place-content: center;
    gap: 50px 20px;
    width: 98%;
    margin: 20px auto;
    padding: 10px 10px 170px 10px;
}
.gird_div div {
    padding: 20px;
}
.gird_div div:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.gird_div div p {
    color: #005aff;
}
.gird_div div h4 {
    color: #0f8a74;
    padding: 5px 0px;
}

.gird_div img {
    width: 100%;
    aspect-ratio: 2.5/3;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #7b097b;
    text-align: center;
    color: white;
    padding: 50px 0px;
}

.drawer {
    background: red;
}

.drawer input {
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid blue;
}

.drawer .btnnn {
    margin: auto;
    display: flex;
    justify-content: center;
}

.drawer .btnnn button {
    padding: 8px 15px;
    text-align: center;
    outline: none;
    border: none;
    background-color: green;
    border-radius: 5px;
    color: white;
}

.drawer .btnnn button:hover{
    background-color: rgb(8, 54, 8);
}

