*{
  margin: 0;
  padding: 0;

}

html{
  height: 100%;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  position: relative;
  overflow-y: scroll;

}

.footer{
  display: flex;
  background-color: #010321;
  justify-content: center;
  color: white;
  text-align: center;
  margin: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
.footer li{
padding: 0px 15px;
  text-align: center;
}