.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
    background-color: #ffffffed;
    text-align: center;
}
.item{
    border: 1px solid gray;
    padding: 10px;
}
table{
    width: 90%;
    border: 2px solid gray;
text-align: center;
    margin: auto;
    margin-bottom: 100px;
}