.cart{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:20px;
    width: 95%;
    margin: auto;
}
.cart div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
}
.cart div img{
    width: 100%;
}
button:hover{
    cursor: pointer;
    background-color: lightskyblue;

}