
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 80%;
}
body{
    min-height: 80vh;
    position: relative;
    overflow-y: scroll;
    font-family: Georgia, 'Times New Roman', Times, serif,sans-serif;
}
nav{
    display: flex;
    justify-content: end;
    background-color: #7b097b;
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100%;

}

nav a{
    color: rgb(249, 245, 245);
    text-decoration: none;
    padding: 8px 20px;

    font-weight: 800;
}

